.createbox{
    background: #F66E6E;
    color: #fff;
}

.prod-img{
    width: 100%;
}

.btn-create{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #000;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
}