@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
  scroll-padding: 50px;
}

:root{
  --clr-primary:#1B1B50;
}

body {
  min-height: 100vh;
  color: var(--clr-primary);
}
p{
  line-height: 1.8;
  font-weight: 400;
  font-size: 14px;
}

.container-mb{
  width: 100%;
  padding: 3rem 1rem;
}

.flex-column{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.text-center{
  text-align: center;
}

button{
  white-space: nowrap;
  font-size: 14px;
}